venv/
env/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.csv
*.json
*.zip
*.db

logs/
artifacts/
catboost_info/
saved_models/
models/
data/
dataset/
notebook/
notebooks/
anaconda_projects/
mlproject/
mlproject.egg-info/
.ipynb_checkpoints/
*.ipynb

.git
.gitignore
.DS_Store
