<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Performance Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Student Performance Predictor</h1>
        <p style="text-align:center; color:#555; margin-bottom: 20px;">
            Predict a student's Math Score using demographic & academic details.
        </p>

        <a href="/predictdata" class="back-link" style="font-size: 18px;">
            ➜ Start Prediction
        </a>
    </div>
</body>
</html>
